.container {
    border: 1px solid;
    border-color: rgb(148 163 184);
    border-radius: 12px;
    padding: 12px;
    background: transparent;
    color: white;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    border-color: rgb(203 213 225);
}

.container:focus {
    border-color: rgb(226 232 240);
    outline: none;
}

.container:invalid {
    border-color: rgb(156, 77, 77)
}