.container {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0px;
    border-color: rgb(148 163 184);
    color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 6px;
    padding: 0px 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    transition: all 0.3s ease-in-out;

    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;

    .spinner {
        z-index: -1;
        width: 15px;
        height: 15px;
        border: 2px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: rotation 1s linear infinite;
        margin-right: 10px;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}

.container:hover {
    transform: scale(1.05);
}

.container:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}