html { // from Tailwind: https://github.com/tailwindlabs/tailwindcss
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: inherit;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af
}


.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(100deg, rgb(30 58 138) 0%, rgb(8 145 178) 100%);
}