@tailwind base;
@tailwind components;
@tailwind utilities;

@import './style.scss';
@import './send/style.scss';
@import './my/style.scss';
@import '../src/beacon/style.scss';

@import '../src/components/Header/style.scss';
@import '../src/components/Modal/NFT/style.scss';

@import '../src/components/ContractWrite/SendWave/style.scss';

@import '../src/components/ContractRead/MyWaves/style.scss';
@import '../src/components/ContractRead/MyWaves/Wave/style.scss';

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgb(30 58 138) 0%, rgb(8 145 178) 100%);
}