.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .title {
            font-weight: 700;
            font-size: 48px;
            line-height: 1;
        }
    }
}