.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.3);

    .content {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            max-width: 320px;

            .title {
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
            }

            .desc {
                max-height: 208px;
                overflow-y: scroll;

                .text {
                    font-weight: 600;
                }
            }
        }
    }
}