.container {
    display: flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);

    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    &__opening, &__closing {
        @extend .container;
        background-color: transparent;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        transform: scale(1);
        transition: all 0.1s ease-in-out;

        &__opening, &__closing {
            @extend .content;
            transform: scale(0);
        }
    }

    .close_btn {
        display: flex;
        justify-content: end;
        width: 100%;
    
        .cross {
            transition: all 0.1s ease-in-out;
        }
    
        .cross:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}